{% extends "base.html" %}
{% block head %}
<script>
  function handleFormSubmit(event) {
    event.preventDefault(); // Предотвращает отправку формы по умолчанию

    // Отправляем форму
    let form = event.target;
    let formData = new FormData(form);
    
    fetch(form.action, {
      method: form.method,
      body: formData
    })
      .then(response => {
        if (response.ok) {
          // Обработка успешного ответа
          window.location.href = "/dashboard"; // перенаправление на другую страницу в случае успешной аутентификации
        } else {
          // Обработка ошибки
          document.getElementById("error-message").innerText = "Не правильный логин или пароль";
        }
      })
      .catch(error => {
        // Обработка ошибки сети
        console.error(error);
      });
  }
</script>
{% endblock%}

{% block content %} 

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">Taskmaster</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a href="/"class="nav-link fw-bold py-1 px-0 active" aria-current="page" >Главная</a>
        <a class="nav-link fw-bold py-1 px-0" href="#">О сайте</a>
        <a class="nav-link fw-bold py-1 px-0" href="#">Контакты</a>
      </nav>
    </div>
  </header>

  <div class="video-background">
    <video autoplay muted loop>
      <source src="{{ url_for('static', path='video/background_1080p.mp4') }}" type="video/mp4">
    </video>
  </div>

<main id="pxid" class="form-signin w-100 m-auto">
  <form action="/auth/jwt/login" method="POST" onsubmit="return handleFormSubmit(event)">
  <h1 class="h3 mb-3 fw-normal">Пожалуйста войдите в учетную запись</h1>

  <div class="form-floating">
    <input type="username" name="username" class="form-control" id="floatingInput" placeholder="name@example.com" value="test@test.com">
    <label for="floatingInput">Email адрес</label>
  </div>
  <div class="form-floating">
    <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
    <label for="floatingPassword">Пароль</label>
  </div>

  <div class="form-check text-start my-3">
    <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
      Запомнить меня
    </label>
  </div>
  <button type="submit" class="btn btn-lg btn-light fw-bold border-white bg-white">Войти</button>
</form>
<label id="error-message"></label>
</main>
</div>
{% endblock %}